<footer id="contact">
    <div class="container">
      <div class="row footer-top">
        <div class="col-12 col-md-6">
          <!-- logo -->
          <h3>16th August 85, Villa</h3>
          <h3>Property Management</h3>
        </div>
        <!-- <div class="col-12 col-md-6 Newsletter">
          <input type="text" placeholder="Subscribe To Our Newsletter" class="left">
          <button class="newsletter-btn left"></button>
        </div> -->
      </div>
      <div class="row footer-bottom">
        <div class="col-sm-12 col-md-3 footer-logo">
          <h4>16th August 85, Villa</h4>
          <p>Contact us</p>
          <div>
            <a href="https://www.instagram.com/16th August 85, Villa_property_management_/" target="_blank"><img
                src="../../assets/images/instagram.svg" alt="">&nbsp; Instagram</a>
          </div>
          <div>
            &nbsp;<a href="#" target="_blank"><img src="../../assets/images/envelope.svg" alt="">&nbsp;
              Villaproperties@gmail.com</a>
          </div>
          <div>
            <a href="#">&nbsp; <img src="../../assets/images/phone-alt.svg" alt="">&nbsp; &nbsp; (+233) 322 031 764</a>
          </div>
          <br />
          <br />
          <p>© 2021 - 16th August 85, Villa,<br>All Right Reserved</p>
        </div>
        <div class="col-sm-3 col-md-1 footer-column">
        </div>
        <div class="col-sm-3 col-md-1 footer-column">
        </div>
        <div class="col-sm-3 col-md-1 footer-column">
        </div>
        <div class="col-sm-3 col-md-1 footer-column">
        </div>
        <div class="col-sm-3 col-md-1 footer-column">
        </div>
        <div class="col-sm-3 col-md-1 footer-column">
        </div>
        <div class="col-sm-3 col-md-2 footer-column right">
          <h5>COMPANY</h5>
          <a routerLink='/about'>About</a>
          <a href="#">FAQ</a>
        </div>
        <div class="col-sm-3 col-md-1 footer-column right">
          <h5>PRODUCT</h5>
          <a href="#appartments">Appartments</a>
          <a href="#works">How It Works</a>
        </div>
        <!-- <div class="col-sm-3 col-md-4 footer-column">
          <h5>SERVICES</h5>
          <div class="row">
            <div class="col">
              <a href="#">Marketing</a>
              <a href="#">Tenancy Selection</a>
              <a href="#">Rent Collection</a>
              <a href="#">Maintenance & Repair</a>
              <a href="#">Insurance Advice & Claims</a>
              <a href="#">Property Inspections</a>
            </div>
            <div class="col">
              <a href="#">Tenant Induction</a>
              <a href="#">Rent Review</a>
              <a href="#">Documentation</a>
              <a href="#">Rent Appraisals</a>
              <a href="#">Tenant Move In</a>
              <a href="#">Advertising</a>
            </div>
          </div>
        </div> -->
      </div>
    </div>
  </footer>