<body>
    <header id="home">
        <nav class="animate">
            <div class="container">
                <div class="logo left">
                    <!-- Logo -->
                    <a routerLink="/">
                        <img src="../../assets/images/logo_.png" class='logo' />
                    </a>
                </div>
                <div class="menu-button hide right pointer">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
                <div class="menu left">
                    <div class="page-menu left">
                        <!-- Navigation -->
                        <!-- <li><a href="#home">Home</a></li>
                        <li><a href="#about">About</a></li>
                        <li><a href="#appartments">Properties</a></li>
                        <li><a href="#works">How It Works</a></li>
                        <li><a href="#sevices">Sevices</a></li> -->
                        <!-- <li><a href="#contact">Contact Us</a></li> -->
                    </div>
                    <div class="registration flex-center">
                        <div class="join-us">
                            <!-- Join Us Button -->
                            <li class="pointer animate"><a href="#contact">Contact Us</a></li>
                        </div>
                        <div class="getting-started">
                            <!-- Get Started Button -->
                            <li routerLink="/" class="main-btn pointer text-center animate"><a>Home</a></li>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <!-- Property -->
    <section class="property">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-12">
                    <h1 style="margin-top: 60px;">About us</h1>
                    <p>16th August 85 Villa was registered in 2019. The Company was formed to develop well designed, competitively priced real estate in Ghana. Over the past years we’ve been consistent in our objective of contributing our part to the growth and development of Ghana’s real estate. 16th August Villa is a finest focused property company with a large, well balanced portfolio comprised of residential, commercial and mixed-use properties. It is well-known for its impressive development of residential apartments.</p>
                    <p>The Company also has a small but growing portfolio of property investments in Ghana and an interest in property development across borders. We have also served as a residential and industrial Property Management Specialists; where we’ve gained good reputation in property management; because we deliver a service that provides integrity, professionalism and peace of mind to our clients.</p>
                    <p>Find homes for sale, rent, commercial activities and vacation at different locations all in one place. This way, you can be sure that you will find your dream home, no matter how hidden it is. Easy, convenient and fast. That’s our promise.</p>
                    <p>16TH AUGUST 85, VILLA, and Homes allow you to filter your search results to find properties that are relevant to you. You can select the city, neighborhood, price, size, number of rooms and bathrooms and a long (seriously, long) list of other criteria.</p>
                    <p>When you choose the app, 16th August Villa Homes keeps working for you. Just create an alert (or several) and we will send you a notification when there’s a new ad that matches your search criteria.</p>
                    <p>Just type your search: house, property, flat, rental, vacation or even offices. You can look for as many listings as you want, and create as many alerts as you want.</p>
                    <h4>Our Core Values</h4>
                    <p><b>Integrity:</b> We embrace the highest standards of ethical behavior and transparency in every aspect of our business to yield a company that is trusted by its clients and stakeholders.</p>
                    <p><b>Excellence:</b> Our commitment to professionalism and excellence ensures that our clients receive the highest quality service. We aspire to provide flawless execution and delivery of our products and services. </p>
                    <p><b>Innovation:</b> We thrive on creativity and originality. In today’s fast paced technological climate, our ideas, concepts, and processes are essential to the continued success and growth of the company. </p>
                  </div>
            </div>
        </div>
    </section>

    <!------------------------------------------------ FOOTER SECTION -->
    <app-footer></app-footer>
</body>