<body>
    <header id="home">
        <nav class="animate">
            <div class="container">
                <div class="logo left">
                    <!-- Logo -->
                    <a  routerLink="/">
                        <img src="../../assets/images/logo_.png" class='logo' />
                    </a>
                </div>
                <div class="menu-button hide right pointer">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
                <div class="menu left">
                    <div class="page-menu left">
                        <!-- Navigation -->
                        <!-- <li><a href="#home">Home</a></li>
                        <li><a href="#about">About</a></li>
                        <li><a href="#appartments">Properties</a></li>
                        <li><a href="#works">How It Works</a></li>
                        <li><a href="#sevices">Sevices</a></li> -->
                        <!-- <li><a href="#contact">Contact Us</a></li> -->
                    </div>
                    <div class="registration flex-center">
                        <div class="join-us">
                            <!-- Join Us Button -->
                            <li class="pointer animate"><a href="#contact">Contact Us</a></li>
                        </div>
                        <div class="getting-started">
                            <!-- Get Started Button -->
                            <li routerLink="/" class="main-btn pointer text-center animate"><a>Home</a></li>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <section id="appartments" class="appartments">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <!-- <h2>More Then 500+<br>Properties available</h2> -->
              <br/>
              <br/>
              <h2>Properties available</h2>
            </div>
          </div>
          <div class="row">
            <!-- Appartment  -->
            <div class="col-12 col-md-6 col-lg-4">
              <div class="appartment-box" [routerLink]="['/property', 0]">
                <div class="appartment-image">
                  <!-- Appartment Image  -->
                  <img src="../../assets/images/apartments/temp.jpg" alt="">
                </div>
                <div class="appartment-info">
                  <div class="appartment-title">
                    <!-- Appartment Address  -->
                    <p>Property name</p>
                  </div>
                  <div class="appartment-details">
                    <div class="price left">
                      <!-- Appartment Price  -->
                      <p>Price</p>
                    </div>
                    <div class="bedrooms right flex-center">
                      <img src="../../assets/images/bed.svg" class="left" alt="">
    
                      <p class="left">4 BD</p>
                    </div>
                    <!--   <div class="bathrooms right flex-center">
                    <img src="../../assets/images/shower.svg" class="left" alt="">
                    <p class="left">2 BA</p>
                  </div> -->
                  </div>
                </div>
              </div>
            </div>
            <!-- Appartment  -->
            <div class="col-12 col-md-6 col-lg-4">
              <div class="appartment-box" [routerLink]="['/property', 1]">
                <div class="appartment-image">
                  <!-- Appartment Image  -->
                  <img src="../../assets/images/apartments/temp.jpg" alt="">
                </div>
                <div class="appartment-info">
                  <div class="appartment-title">
                    <!-- Appartment Address  -->
                    <p>Property name</p>
                  </div>
                  <div class="appartment-details">
                    <div class="price left">
                      <!-- Appartment Price  -->
                      <p>Price</p>
                    </div>
                    <div class="bedrooms right flex-center">
                      <img src="../../assets/images/bed.svg" class="left" alt="">
                      <!-- Appartment Number Of Bedrooms  -->
                      <p class="left">4 BD</p>
                    </div>
                    <div class="bathrooms right flex-center">
                      <img src="../../assets/images/shower.svg" class="left" alt="">
                      <!-- Appartment Number of Bathrooms  -->
                      <p class="left">5 BA</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Appartment  -->
            <div class="col-12 col-md-6 col-lg-4">
              <div class="appartment-box" [routerLink]="['/property', 2]">
                <div class="appartment-image">
                  <!-- Appartment Image  -->
                  <img src="../../assets/images/apartments/temp.jpg" alt="">
                </div>
                <div class="appartment-info">
                  <div class="appartment-title">
                    <!-- Appartment Address  -->
                    <p>Property name</p>
                  </div>
                  <div class="appartment-details">
                    <div class="price left">
                      <!-- Appartment Price  -->
                      <p>Price</p>
                    </div>
                    <div class="bedrooms right flex-center">
                      <img src="../../assets/images/bed.svg" class="left" alt="">
                      <!-- Appartment Number Of Bedrooms  -->
                      <p class="left">4 BD</p>
                    </div>
                    <div class="bathrooms right flex-center">
                      <img src="../../assets/images/shower.svg" class="left" alt="">
                      <!-- Appartment Number of Bathrooms  -->
                      <p class="left">4.5 BA</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Appartment  -->
            

          </div>

        </div>
      </section>

      <!------------------------------------------------ FOOTER SECTION -->
   <app-footer></app-footer>
</body>