<body>
    <header id="home">
        <nav class="animate">
            <div class="container">
                <div class="logo left">
                    <!-- Logo -->
                    <a routerLink="/">
                        <img src="../../assets/images/logo_.png" class='logo' />
                    </a>
                </div>
                <div class="menu-button hide right pointer">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
                <div class="menu left">
                    <div class="page-menu left">
                        <!-- Navigation -->
                        <!-- <li><a href="#home">Home</a></li>
                        <li><a href="#about">About</a></li>
                        <li><a href="#appartments">Properties</a></li>
                        <li><a href="#works">How It Works</a></li>
                        <li><a href="#sevices">Sevices</a></li> -->
                        <!-- <li><a href="#contact">Contact Us</a></li> -->
                    </div>
                    <div class="registration flex-center">
                        <div class="join-us">
                            <!-- Join Us Button -->
                            <li class="pointer animate"><a href="#contact">Contact Us</a></li>
                        </div>
                        <div class="getting-started">
                            <!-- Get Started Button -->
                            <li routerLink="/" class="main-btn pointer text-center animate"><a>Home</a></li>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <!-- Property -->
    <section class="property">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <br />
                    <br />
                    <h2>{{prop.name}}</h2>
                </div>
            </div>
            <!-- ../../assets/images/apartments/temp.jpg -->
            <!-- Slider -->
            <div class="row">
                    <div class='col-12 col-lg-6'>
                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <!-- <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="4"></li> -->
                    </ol>
                    <div class="carousel-inner">

                        <div class="carousel-item active">
                            <img src="../../assets/images/apartments/temp.jpg" class="d-block w-100" alt="...">
                        </div>
                        <!-- <div class="carousel-item">
                            <img src="../../assets/images/apartments/{{id}}/2.jpg" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="../../assets/images/apartments/{{id}}/3.jpg" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="../../assets/images/apartments/{{id}}/4.jpg" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="../../assets/images/apartments/{{id}}/5.jpg" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="../../assets/images/apartments/{{id}}/6.jpg" class="d-block w-100" alt="...">
                        </div> -->
                        <div class="arrows">
                            <a class="carousel-control-prev" onclick="$(this).closest('.carousel').carousel('next');" role="button"
                                data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" onclick="$(this).closest('.carousel').carousel('next');" role="button"
                                data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                    </div>
                </div>
                </div>
                <!-- details -->
                <div class="details col-12 col-lg-6">
                    <div class="price">
                        <p>{{prop.price}}</p>
                    </div>

                    <hr>
                    <p>
                        {{prop.description}}
                    </p>
                    <div class="row">
                        <div class="bedrooms right flex-center">
                            <img src="../../assets/images/bed.svg" class="left" alt="">
                            <p class="left">{{prop.rooms}}</p>
                        </div>
                        <div class="bathrooms right flex-center" *ngIf="prop.BAs !== 'not'">
                            <img src="../../assets/images/shower.svg" class="left" alt="">
                            <p class="left">{{prop.BAs}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!------------------------------------------------ FOOTER SECTION -->
    <app-footer></app-footer>
</body>