/* You can add global styles to this file, and also import other style files */
/*-----------------------------------------------------------
    1. General Styles 
-------------------------------------------------------------*/
* {
    /* margin: 0 auto; */
    padding: 0;
  }
  
  html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  *,
  *:before,
  *:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
  }
  
  a {
    text-decoration: none !important;
    position: relative !important;
    color: #1F373D ;
    /* font-weight: 700; */
    font-family: 'Montserrat', sans-serif
  }
  
  body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
  }
  
  a:focus,
  a:hover {
    text-decoration: none;
    color: #ffd000;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }
  
  ::selection {
    background: #1F373D;
    color: #fff;
    text-shadow: none;
  }
  
  ::-moz-selection {
    background: #1F373D;
    color: #fff;
    text-shadow: none;
  }
  
  ::-webkit-selection {
    background: #1F373D;
    color: #fff;
    text-shadow: none;
  }
  
  :active,
  :focus {
    outline: none !important;
  }
  
  .text-left {
    text-align: left !important;
  }
  
  .text-right {
    text-align: right !important;
  }
  
  .text-center {
    text-align: center !important;
  }
  
  .left {
    float: left;
  }
  
  .right {
    float: right;
  }
  
  .center {
    margin: 0 auto;
  }
  
  .flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .uppercase {
    text-transform: uppercase;
  }
  
  .white-text {
    color: #FFF;
  }
  
  .light-bg {
    background-color: #fff;
  }
  
  .yellow-bg {
    background-color: #ffd000;
  }
  
  .pointer {
    cursor: pointer;
  }
  
  .hide {
    display: none;
  }
  
  .show {
    display: block;
  }
  
  .slide {
    left: 0;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
  }
  
  /*-----------------------------------------------------------
      2. Typography 
  ------------------------------------------------------------*/
  body {
    color: #1F373D;
    font-family: 'Montserrat', sans-serif;
    font-size: 13pt;
    font-weight: 400;
    overflow-x: hidden;
    transition: opacity 1s;
  }
  
  h1,
  .h1 {
    font-size: 58px;
    font-weight: 700;
  }
  
  h2,
  .h2 {
    font-size: 40px;
    font-weight: 700;
  }
  
  h3,
  .h3 {
    font-size: 40px;
    font-weight: 700;
  }
  
  h4,
  .h4 {
    font-size: 25px;
    font-weight: 700;
  }
  
  h5,
  .h5 {
    font-size: 14px;
    font-weight: 400;
    color: #919EB1;
  }
  
  h6,
  .h6 {
    font-size: 14px;
  }
  
  p {
    font-size: 16px;
    line-height: 1.8;
    margin-bottom: 15px;
    letter-spacing: 0.025em;
  }
  
  li {
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 0.025em;
    display: inline;
  }
  
  .animate {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  
  .lux-shadow {
    -webkit-box-shadow: 0px 10px 15px 0px rgba(29, 31, 36, 0.1);
    -moz-box-shadow: 0px 10px 15px 0px rgba(29, 31, 36, 0.1);
    box-shadow: 0px 10px 15px 0px rgba(29, 31, 36, 0.1);
  }
  
  /*-----------------------------------------------------------
      3. Header
  -------------------------------------------------------------*/
  header {
    padding-bottom: 25px;
  }
  
  header nav {
    width: 100%;
    height: 95px;
    position: fixed;
    z-index: 9999;
    background-color: #fff;
  }
  
  .small-nav {
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .logo {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 18pt;
    font-weight: 700;
    width: 120px;
    /* height: 90px; */
  }
  
  .menu {
    width: 80%;
    height: 95px;
  }
  
  .page-menu {
    width: 70%;
    height: 95px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .registration {
    width: 30%;
    height: 95px;
  }
  
  .join-us {
    width: 40%;
    height: 95px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 20px;
  }
  
  .getting-started {
    width: 60%;
    height: 95px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  
  .main-btn {
    width: 100%;
    background-color: #ffd000;
    padding: 10px 10px;
    margin: 0px 5px;
    border-radius: 5px;
    font-size: 13px;
    border: 1px solid #ffd000;
    transition: 0.4s all;
  }
  
  .main-btn:hover {
    background-color: transparent;
    color: #000000;
    border: 1px solid #ffd000;
  }
  
  .main-btn:hover a {
    color: #1F373D;
  }
  
  .main-btn a {
    color: #fff;
  }
  
  .page-menu li {
    padding: 8px;
  }
  
  .active {
    color: #ffd000;
  }
  
  /*-- Hero Area --*/
  .hero {
    width: 100%;
    height: 700px;
    position: relative;
  }
  
  .title {
    width: 60%;
    height: 30vh;
    position: absolute;
    z-index: 999;
    top: 23vh;
  }
  
  .hero-image {
    width: 88%;
    height: 630px;
    float: right;
  
    background-image: url('./assets/images/hero.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    right: -60px;
  }
  
  .hero-image-info {
    position: absolute;
    right: 0;
    bottom: 0;
  }
  
  .hero-image-info p {
    font-weight: 700;
    font-size: 18px;
    padding: 10px 20px;
    margin-top: 15px;
  }
  
  .info {
    margin: 5px 35px;
  }
  
  .info p {
    color: #fff
  }
  
  .search {
    margin-top: 40px;
    width: 500px;
    position: absolute;
  }
  
  .search input {
    width: 75%;
    background: url('./assets/images/search.svg') no-repeat 8px 8px;
    background-position: left;
    border: 0px;
    background-color: #fff;
    padding: 25px 40px;
    font-size: 15px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-position: left 15px top 29px;
  }
  
  .search-btn {
    width: 25%;
    border: 0px;
    background-color: #ffd000;
    color: #fff;
    padding: 25px 10px;
    font-size: 15px;
    font-weight: 700;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  
  .search-btn:hover {
    background-color: #ffd000;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  
  ::placeholder {
    color: #919EB1;
  }
  
  .hero-wrapper {
    position: relative;
    width: 100%;
    height: 725px;
    padding-top: 95px;
  }
  
  .slide-down {
    width: 20px;
    height: 65px;
    position: absolute;
    bottom: 0;
  
  }
  
  .slide-down p {
    transform: rotate(-90deg);
    font-size: 12px;
    white-space: nowrap;
    color: #919EB1;
  }
  
  a {
  text-decoration: none;
  position: relative;
  color: #1F373D;
}

  
  /* Property */
  .property {
      background-color: #F6F5F4;
      padding: 60px 0px 70px 0px;
  }
  
  
  /*-----------------------------------------------------------
      9. Footer
  -------------------------------------------------------------*/
  footer {
      background-color: #333333;
      width: 100%;
      color: #fff;
      padding: 65px 0px;
    }
    
    .footer-top {
      border-bottom: 1px solid #919EB1;
      padding-bottom: 45px;
    }
    
    .Newsletter input {
      width: 80%;
      height: 70px;
      padding: 0px 15px;
      border: 0px;
      margin-top: 26px;
    }
    
    .newsletter-btn {
      background-color: #fbfbfb;
      width: 20%;
      height: 70px;
      border: 0px;
      background-image: url('./assets/images/arrow-right.svg');
      background-repeat: no-repeat;
      background-position: center;
      margin-top: 26px;
    }
    
    .newsletter-btn:hover {
      background-color: #ffd000;
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
    }
    
    .footer-logo h4 {
      margin-bottom: 60px;
    }
    
    .footer-logo p {
      font-size: 13px;
      font-weight: 400;
    }
    
    .footer-bottom {
      padding-top: 70px;
    }
    
    .footer-bottom a {
      color: white;
      font-size: 15px;
    }
    
    .footer-column h5 {
      padding-bottom: 35px;
    }
    
    .footer-column a {
      color: #fff;
      display: flex;
      font-size: 13px;
      padding-bottom: 18px;
    }
    
    /*-----------------------------------------------------------
          10. RESPONSIVE
      -------------------------------------------------------------*/
    /* Large devices (laptops/desktops, 992px and up) */
    @media only screen and (max-width: 992px) {
      .menu {
        background-color: #fff;
        width: 100%;
        height: 100vh;
        position: absolute;
        top: 70px;
        right: 100%;
        text-align: center;
        z-index: 999;
        -webkit-transition: all 0.4s ease-in-out;
        -moz-transition: all 0.4s ease-in-out;
        transition: all 0.4s ease-in-out;
      }
    
      .page-menu {
        width: 100%;
        height: 50vh;
        text-align: center;
        float: none;
        display: flex;
        flex-direction: column;
      }
    
      .page-menu li {
        font-size: 15pt;
        padding: 1.5vh;
      }
    
      .registration {
        float: none;
        width: 100%;
        height: 50vh;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        text-align: center;
        padding-bottom: 5vh;
      }
    
      .join-us {
        width: 100%;
        text-align: center;
        height: 0px;
        margin-top: 30px;
      }
    
      .join-us li {
        width: 100%;
        text-align: center;
      }
    
      .menu-button {
        width: 40px;
        height: 40px;
        display: block;
        margin-top: 26px;
      }
    
      .menu-button span {
        width: 40px;
        height: 5px;
        background-color: #1F373D;
        display: block;
        margin: 6px 0px;
      }
    
      .main-btn {
        width: 100%;
        background-color: #ffd000;
        padding: 10px 10px;
        margin: 0px;
        border-radius: 5px;
        font-size: 13px;
        border: 1px solid #ffd000;
        transition: 0.4s all;
      }
    
      .statistic-box:nth-child(1) {
        float: left;
        margin-top: 50px;
      }
    
      .statistic-box:nth-child(2) {
        margin-top: 50px;
      }
    
      .statistic-box:nth-child(3) {
        float: left;
      }
    
      .search-appartments {
        width: 300px;
      }
    
      .search-all-btn {
        width: 30%;
      }
    
      .how-it-works {
        text-align: center;
      }
    }
    
    @media only screen and (max-width: 768px) {
      .hero-image {
        width: 100%;
      }
    
      .info {
        margin: 0px 10px;
      }
    
      h1 {
        font-size: 45px;
      }
    
      .search-appartments {
        width: 270px;
      }
    
      .search-all-btn {
        width: 37%;
        margin-left: 10px;
      }
    
      .work-service-image {
        max-height: 630px;
        left: 0px;
        margin-bottom: 50px;
      }
    
      .footer-logo h4 {
        float: left;
      }
    
      .footer-logo p {
        float: right;
      }
    }
    
    @media only screen and (max-width: 650px) {
      .info p {
        font-size: 14px;
      }
    
      .hero-image-info {
        right: 40px;
      }
    
      .title {
        top: 17vh;
      }
    
      .search-all-btn {
        width: 40%;
        margin-left: 5px;
      }
    }
    
    @media only screen and (max-width: 575px) {
      .footer-bottom {
        text-align: center;
      }
    
      .footer-column a {
        display: list-item;
        list-style: none;
      }
    }
    
    @media only screen and (max-width: 540px) {
      .info p {
        font-size: 12px;
      }
    
      .hero-image-info {
        width: 90%;
      }
    
      .search {
        width: 400px;
      }
    
      .search-appartments {
        width: 80%;
        margin: 0 auto;
        margin-top: 30px;
      }
    
      .search-all-btn {
        width: 80%;
        margin: 0px 10%;
        margin-top: 15px;
      }
    }
    
    @media only screen and (max-width: 470px) {
      .info p {
        font-size: 12px;
      }
    
      .hero-image-info {
        right: 30px;
        width: 91%;
      }
    
      .hero-image-info p {
        padding: 5px 5px;
        font-size: 11px;
      }
    
      .search {
        width: 300px;
      }
    
      .search-all-btn {
        width: 80%;
      }
    }
    
    @media only screen and (max-width: 380px) {
      .title {
        top: 22vh;
      }
    
      .search {
        width: 250px;
      }
    
      .search-btn {
        width: 30%;
      }
    
      .search-all-btn {
        width: 80%;
      }
    
      .search input {
        width: 70%;
        font-size: 12px;
        padding: 27px 40px;
      }
    
      .info img {
        display: none;
      }
    }
    
  
  
    /* Details */
    .details{
        margin-left: 20px;
        /* background-color: #f7f7f7; */
        max-width: 300px;
        padding: 20px
    }
    .details p {
      white-space: pre-wrap;
    }
    .flex-center {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .price {
      /* width: 50%; */
      /* height: 100%; */
    }
    .price p {
      font-size: 18px;
      color: #ffd000;
      font-weight: 700;
    }
    .bathrooms {
      width: 25%;
      height: 100%;
    }
    .bathrooms p {
      padding: 15px 0px 0px 10px;
      font-size: 13px;
      color: #919EB1;
    }
    .bedrooms {
      width: 50%;
      height: 100%
    }
    .bedrooms p {
      padding: 15px 0px 0px 10px;
      font-size: 13px;
      color: #919EB1;
    }
    .arrows{
      width: 100%;
      height: 100%;
      display: flex;
      /* position:static; */
      margin: auto;
      position: absolute;
      top: 0; left: 0; bottom: 0; right: 0;
      padding: 5px;
      align-items: center;
      justify-content: space-between;
    }