<body>
    <header id="home">
      <nav class="animate">
        <div class="container">
          <div class="logo left">
            <!-- Logo -->
            <a href="#home">
              <img src="../../assets/images/logo_.png" class='logo' />
            </a>
          </div>
          <div class="menu-button hide right pointer">
            <span></span>
            <span></span>
            <span></span>
          </div>
          <div class="menu left">
            <div class="page-menu left">
              <!-- Navigation -->
              <li><a href="#home">Home</a></li>
              <li><a routerLink='/about'>About</a></li>
              <li><a href="#works">How It Works</a></li>
              <li><a href="#sevices">Sevices</a></li>
              <!-- <li><a href="#contact">Contact Us</a></li> -->
            </div>
            <div class="registration flex-center">
              <div class="join-us">
                <!-- Join Us Button -->
                <li class="pointer animate"><a href="#contact">Contact Us</a></li>
              </div>
              <div class="getting-started">
                <!-- Get Started Button -->
                <li routerLink="/all" class="main-btn pointer text-center animate"><a >Properties for sale</a></li>
              </div>
            </div>
          </div>
        </div>
      </nav>
      <div class="hero">
        <div class="container">
          <div class="hero-wrapper">
            <div class="title">
              <!-- Hero Title -->
              <h1>Comfort beyond <br> you wildest dreams</h1>
              <!-- <div class="search lux-shadow">
              <input class="left" type="text" placeholder="Search Location">
              <button class="search-btn left">Search</button>
            </div> -->
            </div>
            <div class="hero-image" id="animated-background">
              <div class="hero-image-info yellow-bg flex-center">
                <div class="info flex-center">
                  <img src="../../assets/images/call-icon.svg" alt="">
                  <!-- Phone -->
                  <p>(+233) 322 031 764</p>
                </div>
                <div class="info flex-center">
                  <img src="../../assets/images/point-icon.svg" alt="">
                  <!-- Place -->
                  <p>Accra,Ghana</p>
                </div>
              </div>
            </div>
            <div class="slide-down text-center pointer">
              <a href="#about">
                <p>Scroll Down</p>
                <img src="../../assets/images/scroll.svg" alt="">
              </a>
            </div>
          </div>
        </div>
      </div>
    </header>
    <!------------------------------------------------ STATISTIC SECTION -->
    <!-- <section class="statistic" id="about">
      <div class="container">
        <div class="row">
          <div class="col-12 col-lg-6">
            <h3>About us</h3>
            <p>In this space market-facing, yet UI work flows , or bake it in. Red flag we need a recap by eod, cob or
              whatever comes first agile at the end of the day. Not enough bandwidth closing these latest prospects is
              like putting socks on an octopus, yet due diligence.</p>
            <p>We need to get all stakeholders up to speed and in the right place hard stop, or technologically savvy or
              pre launch. Pro-sumer software commitment to the cause offline this discussion and wiggle room blue sky.
              Beef up teams were able to drive adoption and awareness. Screw the pooch killing it.</p>
          </div>
          <div class="col-12 col-lg-6 statistic-wrapper">
      <div class="statistic-box text-center">
              <p>3854</p>
              <p>Clients</p>
            </div>
            <div class="statistic-box text-center">
              <p>748</p>
              <p>Appartments</p>
            </div>
            <div class="statistic-box text-center">
              <p>14</p>
              <p>Awards</p>
            </div>
            <div class="statistic-box text-center">
              <p>24</p>
              <p>Employees</p>
            </div> 
          </div>
        </div>
      </div>
    </section> -->
    <!------------------------------------------------ APPARTMENTS SECTION -->
    <section id="appartments" class="appartments">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <!-- <h2>More Then 500+<br>Properties available</h2> -->
            <h2>Properties available</h2>
          </div>
        </div>
        <div class="row">
          <!-- Appartment  -->
          <div class="col-12 col-md-6 col-lg-4">
            <div class="appartment-box" [routerLink]="['/property', 0]">
              <div class="appartment-image">
                <!-- Appartment Image  -->
                <img src="../../assets/images/apartments/temp.jpg" alt="">
              </div>
              <div class="appartment-info">
                <div class="appartment-title">
                  <!-- Appartment Address  -->
                  <p>Property name</p>
                </div>
                <div class="appartment-details">
                  <div class="price left">
                    <!-- Appartment Price  -->
                    <p>Price</p>
                  </div>
                  <div class="bedrooms right flex-center">
                    <img src="../../assets/images/bed.svg" class="left" alt="">
  
                    <p class="left">4 BD</p>
                  </div>
                  <!--   <div class="bathrooms right flex-center">
                  <img src="../../assets/images/shower.svg" class="left" alt="">
                  <p class="left">2 BA</p>
                </div> -->
                </div>
              </div>
            </div>
          </div>
          <!-- Appartment  -->
          <div class="col-12 col-md-6 col-lg-4">
            <div class="appartment-box" [routerLink]="['/property', 1]">
              <div class="appartment-image">
                <!-- Appartment Image  -->
                <img src="../../assets/images/apartments/temp.jpg" alt="">
              </div>
              <div class="appartment-info">
                <div class="appartment-title">
                  <!-- Appartment Address  -->
                  <p>Property name</p>
                </div>
                <div class="appartment-details">
                  <div class="price left">
                    <!-- Appartment Price  -->
                    <p>Price</p>
                  </div>
                  <div class="bedrooms right flex-center">
                    <img src="../../assets/images/bed.svg" class="left" alt="">
                    <!-- Appartment Number Of Bedrooms  -->
                    <p class="left">4 BD</p>
                  </div>
                  <div class="bathrooms right flex-center">
                    <img src="../../assets/images/shower.svg" class="left" alt="">
                    <!-- Appartment Number of Bathrooms  -->
                    <p class="left">5 BA</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Appartment  -->
          <div class="col-12 col-md-6 col-lg-4">
            <div class="appartment-box" [routerLink]="['/property', 2]">
              <div class="appartment-image">
                <!-- Appartment Image  -->
                <img src="../../assets/images/apartments/temp.jpg" alt="">
              </div>
              <div class="appartment-info">
                <div class="appartment-title">
                  <!-- Appartment Address  -->
                  <p>Property name</p>
                </div>
                <div class="appartment-details">
                  <div class="price left">
                    <!-- Appartment Price  -->
                    <p>Price</p>
                  </div>
                  <div class="bedrooms right flex-center">
                    <img src="../../assets/images/bed.svg" class="left" alt="">
                    <!-- Appartment Number Of Bedrooms  -->
                    <p class="left">4 BD</p>
                  </div>
                  <div class="bathrooms right flex-center">
                    <img src="../../assets/images/shower.svg" class="left" alt="">
                    <!-- Appartment Number of Bathrooms  -->
                    <p class="left">4.5 BA</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="search lux-shadow search-appartments">
              <!-- <input class="left" type="text" placeholder="Search Location">
            <button class="search-btn left">Search</button> -->
            </div>
            <div class="search-all">
              <button routerLink="/all" class="search-btn left search-all-btn">View All Properties</button>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section id="works" class="how-it-works">
      <div class="container">
        <div class="row">
          <div class="col-12 works-title">
            <h3>How it works?</h3>
            <!-- <p>In this space market-facing, yet UI work flows , or bake it in.<br>Red flag we need a recap by eod, cob or
            whatever comes<br>first agile at the end of the day. </p> -->
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-md-12 col-lg-6">
            <div class="work-box animate">
              <div class="work-box-number">
                <p>01</p>
              </div>
              <div class="work-box-title">
                <p class="left">01</p>
                <p class="left">Choose a property</p>
              </div>
              <div class="work-box-text">
                <p>Simply choose any of our properties, you may be interested in from the section above. </p>
              </div>
              <div class="work-box-link">
                <a routerLink='/all'>Properties</a>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-12 col-lg-6">
            <div class="work-box animate">
              <div class="work-box-number">
                <p>02</p>
              </div>
              <div class="work-box-title">
                <p class="left">02</p>
                <p class="left">Contact us</p>
              </div>
              <div class="work-box-text">
                <p>Contact us by call or email. Our agents are always on standby. </p>
              </div>
              <div class="work-box-link">
                <a href="#contact">Contact us</a>
              </div>
            </div>
          </div>
          <!-- <div class="col-12 col-md-12 col-lg-4">
          <div class="work-box animate">
            <div class="work-box-number">
              <p>03</p>
            </div>
            <div class="work-box-title">
              <p class="left">03</p>
              <p class="left">Make Contact</p>
            </div>
            <div class="work-box-text">
              <p>In this space market-facing, yet UI work flows , or bake it in. Red flag we neef the day. </p>
            </div>
            <div class="work-box-link">
              <a href="#">Find Location</a>
            </div>
          </div>
        </div> -->
        </div>
        <!-- Services Area -->
        <div id="sevices" class="row work-services">
          <div class="col-12 work-services-title">
            <h3>Services</h3>
            <!-- <p>In this space market-facing, yet UI work flows , or bake it in.<br>Red flag we need a first agile at the
            end of the day. </p> -->
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-md-7">
            <div class="work-service-image">
            </div>
          </div>
          <div class="col-12 col-md-5 work-service-info">
            <h4>Buy</h4>
            <p>In this space market-facing, yet UI work flows , or bake it in. Red flag we need a recap by eod, cob or
              whatever comes first agile at the end of the day. Not enough bandwidth closing these latest prospects is
              like putting socks on an octopus, yet due diligence</p>
  
            <h4>Develop</h4>
            <p>In this space market-facing, yet UI work flows , or bake it in. Cob or whatever comes first agile at the
              end of the day. Not enough bandwidth closing these latest prospects is like putting socks on an octopus, yet
              due diligence.Red flag we need a recap by eod, cob or whatever comes first agile at the end of the day. Not
              enough bandwidth closing these latest prospects is like putting socks on an octopus, yet due diligence</p>
  
            <h4>Sell</h4>
            <p>In this space market-facing, yet UI work flows , or bake it in. Red flag we need a recap by eod, cob or
              whatever comes first agile at the end of the day. Not enough bandwidth closing these latest prospects is
              like putting socks on an octopus, yet due diligence</p>
  
            <h4>Rent</h4>
            <p>In this space market-facing, yet UI work flows , or bake it in. Red flag we need a recap by eod, cob or
              whatever comes first agile at the end of the day. Not enough bandwidth closing these latest prospects is
              like putting socks on an octopus, yet due diligence</p>
          </div>
        </div>
      </div>
    </section>
    <!------------------------------------------------ AGENTS SECTION -->
    <section id="agents" class="agents">
    <div class="container">
      <div class="row agents-services">
        <div class="col-12 agents-title">
          <h3>Meet the team</h3>
          <p>In this space market-facing, yet UI work flows , or bake it in.<br>Red flag we need a recap by eod, cob or
            whatever comes<br>first agile at the end of the day. </p>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-md-12 col-lg-6">
          <div class="appartment-box">
            <div class="appartment-image">
              <img src="../../assets/images/agents/2.jpg" alt="">
            </div>
            <div class="appartment-info">
              <!-- <div class="appartment-title">
                <p>Agent</p>
              </div> -->
              <div class="appartment-details">
                <div class="price left agent-name">
                  <p>Name</p>
                </div>
                <div class="agent-social">
                  <!-- <a href="#"><img src="../../assets/images/twitter.svg" alt=""></a>
                    <a href="#"><img src="../../assets/images/dribble.svg" alt=""></a> -->
                  </div>
                </div>
                <a href="#" style="font-size: 10px; width: 100%; flex-direction:row"><img style="fill: blue;" src="../../assets/images/envelope -black.svg" alt=""><span> &nbsp;&nbsp;email</span></a>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-12 col-lg-6">
          <div class="appartment-box">
            <div class="appartment-image">
              <img src="../../assets/images/agents/1.jpg" alt="">
            </div>
            <div class="appartment-info">
              <!-- <div class="appartment-title">
                <p>Agent</p>
              </div> -->
              <div class="appartment-details">
                <div class="price left agent-name">
                  <p>Name</p>
                </div>
                <div class="agent-social ">
                  <br>
                  <!-- <a href="#"><img src="../../assets/images/twitter.svg" alt=""></a>
                    <a href="#"><img src="../../assets/images/dribble.svg" alt=""></a> -->
                  </div>
                </div>
                <a href="#" style="font-size: 10px; width: 100%; flex-direction:row;  ">
                  <img src="../../assets/images/envelope -black.svg" alt="">
                  <span>&nbsp;&nbsp;email</span>
                </a>
            </div>
          </div>
        </div>
        <!-- <div class="col-12 col-md-12 col-lg-4">
          <div class="appartment-box">
            <div class="appartment-image">
              <img src="../../assets/images/agent.png" alt="">
            </div>
            <div class="appartment-info">
              <div class="appartment-title">
                <p>Agent</p>
              </div>
              <div class="appartment-details">
                <div class="price left agent-name">
                  <p>Mr. Luke Skywalker</p>
                </div>
                <div class="agent-social right flex-center">
                  <a href="#"><img src="../../assets/images/facebook.svg" alt=""></a>
                  <a href="#"><img src="../../assets/images/twitter.svg" alt=""></a>
                  <a href="#"><img src="../../assets/images/dribble.svg" alt=""></a>
                </div>
              </div>
            </div>
          </div>
        </div> -->
      </div>
    </div>
  </section>
    <!------------------------------------------------ ADD SECTION -->
    <!-- <section class="add">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-7">
          <div class="add-image add1">
            <div class="add-image-info flex-center">
              <img src="../../assets/images/pointer.svg" class="left" alt="">
              <p>Melbourne,Australia</p>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-5 flex-center">
          <div class="add-info">
            <h4>Super Awesome Add</h4>
            <p>In this space market-facing, yet UI work flows , or bake it in. Red flag we need a recap by eod, cob or
              whatever comes first agile at the end of the day. Not enough bandwidth closing these latest prospects is
              like putting socks on an octopus, yet due diligence</p>
          </div>
        </div>
        <div class="col-12 col-md-5 flex-center">
          <div class="add-info add2-info">
            <h4>Super Awesome Add</h4>
            <p>In this space market-facing, yet UI work flows , or bake it in. Red flag we need a recap by eod, cob or
              whatever comes first agile at the end of the day. Not enough bandwidth closing these latest prospects is
              like putting socks on an octopus, yet due diligence</p>
          </div>
        </div>
        <div class="col-12 col-md-7">
          <div class="add-image right add2">
            <div class="add-image-info add-image-info2 flex-center">
              <img src="../../assets/images/pointer.svg" class="left" alt="">
              <p>Melbourne,Australia</p>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-7">
          <div class="add-image add3">
          </div>
        </div>
        <div class="col-12 col-md-5 flex-center">
          <div class="add-info add3-info">
            <h4>Super Awesome Add</h4>
            <p>In this space market-facing, yet UI work flows , or bake it in. Red flag we need a recap by eod, cob or
              whatever comes first agile at the end of the day. Not enough bandwidth closing these latest prospects is
              like putting socks on an octopus, yet due diligence</p>
            <button class="search-btn left show-more-btn">Show Me More</button>
          </div>
        </div>
      </div>
    </div>
  </section> -->
    <!------------------------------------------------ FOOTER SECTION -->
    <app-footer></app-footer>
  </body>